@model Usuario

@using (Html.BeginForm("AdicionarUsuario", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", placeholder = "Nome" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CPF)
        @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", placeholder = "CPF" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NumeroCelular)
        @Html.TextBoxFor(model => model.NumeroCelular, new { @class = "form-control", placeholder = "Número de Celular" })
    </div>
    <div class="form-group">
        <label for="arquivo">Selecione um arquivo de Excel (opcional):</label>
        <input type="file" name="arquivo" id="arquivo" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Número de Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.Email</td>
            <td>@Model.CPF</td>
            <td>@Model.NumeroCelular</td>
        </tr>
    </tbody>
</table>


<div>
    @if (ViewBag.ArquivoExcelSelecionado)
    {
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SalvarEmExcel", "Home")'">Salvar em Excel (Append)</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SalvarEmExcel", "Home")'">Salvar em Excel</button>
    }
</div>
